@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  display: flex;
  padding: 0 10px;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  /* background: rgb(236, 147, 236); */
  background-image: url("coding.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}
.wrapper{
  width: 430px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  border: 2px solid black;
}
.wrapper h1{
  font-size: 25px;
  font-weight: 500;
  padding: 20px 25px;
  border-bottom: 1px solid #ccc;
  
} 


.wrapper .content{
  margin: 25px 25px 35px;
  
}
.content .inputs{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}
.inputs input{
  height: 57px;
  width: 56px;
  margin: 4px;
  font-size: 24px;
  font-weight: 500;
  color: black;
  text-align: center;
  border-radius: 5px;
  background:rgb(61, 134, 189);
  /* pointer-events: none; */
  text-transform: uppercase;
  border: 2px solid black;
}
.typing-input {
  opacity: 0;
  /* z-index: 999; */
  position: absolute;
  pointer-events: none;
}
/* .inputs input:first-child{
  margin-left: 0px;
} */
.content .details{
  margin: 20px 5px 25px;
}
.details p{
  font-size: 19px;
  margin-bottom: 10px;
}
.content .reset-btn{
  width: 100%;
  border: 2px solid black;
  cursor: pointer;
  color: #fff;
  /* outline: none; */
  padding: 15px 0;
  font-size: 17px;
  border-radius: 5px;
  background:rgb(61, 134, 189);
  /* transition: all 0.3s ease; */
}
.content .reset-btn:hover{
    background:rgb(46, 98, 138);
}
@media screen and (max-width: 460px) {
  .wrapper {
    width: 100%;
  }
  .wrapper h1{
    font-size: 22px;
    padding: 16px 20px;
  }
  .wrapper .content{
    margin: 25px 20px 35px;
  }
  .inputs input{
    height: 51px;
    width: 50px;
    margin: 3px;
    font-size: 22px;
  }
  .details p{
    font-size: 17px;
  }
  .content .reset-btn{
    padding: 14px 0;
    font-size: 16px;
  }
}